.paragraphAllWords {
  text-shadow: 1px 1px 2px white;
}

.listIcon{
  margin-right: 5px;
  color: #8fbc8f;
}
.paragraphIcon{
  margin-right: 5px;
  color: darkseagreen;
}

@media (min-width: 640px) {
  .paragraphAllWords {
    font-size: 1.4rem;
  }
}
.hrLine {
height: 4px;
background-color: #8fbc8f;
border:.5px solid black;
border-radius: 5px;
margin-bottom: 18px;
}