 
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rye&display=swap');
 
 


@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 3px solid #000000;
  }

body {
   font-size: 3rem;
   background: linear-gradient(to bottom, #002244, #8c8b8a, #ffffff);
   font-family: noto serif;
}

input{ background-color: #33485d;
   width: 80%;
   border-radius:  10px ;
   border: solid 2px #000000;
   box-shadow: 0 0 0 0.2rem #000000;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
}
 textarea{ background-color: #33485d;
   width: 80%;
    border-radius: 10px;
    border: solid 2px #000000;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
 }

label{
      font-size: 4rem;
      color: #ffffff;
      font-family: noto serif;
}


/* xxxs */
@media (min-width: 350px) {
     
    
     .container {
        max-width: 350px;
        
     }
  } 

/* xxs */
  @media (min-width: 400px) {
    
     
.container {
        max-width: 400px;
        
     }
  } 
   /* xs */
  @media (min-width: 500px) {
    
  
.container {
        max-width: 500px;
        
     }
  } 

 
   /* s */
  @media (min-width: 640px) {
    
.container {
        max-width: 640px;
         
     }
  }  



/* md */
  @media (min-width: 768px) {
.container {
        max-width: 768px;
      
     }
    } 



/* lg */
  @media (min-width: 1024px) {
   
        
       
      
   

     .container {
               max-width: 1024px;
               
     }  
  }  



/* xl */
  @media (min-width: 1280px) {
     
        
         
    
.container {
        max-width: 1280px;
         
     }
  }  

/* 2xl */
 @media (min-width: 1536px) {
    
       
   
.container {
        max-width: 1536px;
         
     }
 }  